<div class="row">
  <% @collections.each do |collection| %>
    <div class="col-lg-3 ">
      <div class="thumbnail">
        <a href="#">
          <img src="<%= collection[:url] %>" alt="Winterfell">
        </a>
        <div class="caption">
          <h4><%= collection[:title] %></h4>
          <p><%= collection[:description] %></p>
          <a href="#">Jerome Sta. Maria</a>
          <div><%= time_ago_in_words(collection[:created_at]) %> ago</div>
          <%= link_to 'View', collection_path(collection[:id]), :class => 'label label-info' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
