<%= link_to 'Add a collection', new_collection_path, :class => 'btn btn-primary', :style => 'margin-bottom: 10px;' %>
<div class="row">
    <!-- TODO change can't get the owner -->
    <h3><%= "#{@user.username}\'s collection"  %></h3>
  <% @collections.each do |collection| %>
    <div class="col-lg-3 ">
      <div class="thumbnail">
        <%= link_to image_tag(collection[:url], :size => '', :alt => 'Winterfell'), collection_path(collection[:id]) %>
        <div class="caption">
          <h4><%= collection[:title] %></h4>
          <p><%= collection[:description] %></p>
          <!-- TODO create show action for users -->
          <%= link_to collection.user[:username], user_path(collection.user[:id]) %>
          <div><%= time_ago_in_words(collection[:created_at]) %> ago</div>
          <%= link_to 'Buy', nil, :class => 'label label-warning' %>
          <%= link_to 'View', collection_path(collection[:id]), :class => 'label label-info' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
